body {background-color: #30323b;
     
}

.clock {display: flex;
    align-items: center;
    justify-content: center;
    background:#151618 ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%), translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    letter-spacing: 7px;
    padding: 2rem 4 rem;
    border-radius: 20px;
    width: 400px;
    height: 100px;
    border-radius: 38px;
    background: #30323b;
    box-shadow: inset 5px 5px 21px #131418, inset -5px -5px 21px #4d505e;


}
@media (max-width:480px) {

    .clock {width: 40%;
        left:30%
    }
}
